{
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-unused-vars": "warn",
    "no-duplicate-imports": "error",
    "no-restricted-imports": "error",
    "no-console": "warn",
    "semi": "error"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
//    "mocha": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ]
}
