.button {
  background: transparent;
  border: 2px solid #00acff;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-shadow: 5px 4px 8px 0px rgba(0, 113, 201, 0.2);
  -moz-box-shadow: 5px 4px 8px 0px rgba(0, 113, 201, 0.2);
  box-shadow: 5px 4px 8px 0px rgba(0, 113, 201, 0.2);
}